#Navbar {
    background-color: var(--theme);
    z-index: 100;
    height: var(--navbarHeight);
}

.logo {
    color: #1DBD9C;
    background-color: #16252D;
    font-size: var(--flg);

    .Link>* {
        pointer-events: none;
    }
}

.logo .nav {
    padding: 0 45px;
}

.border-light {
    border-color: #3A474E;
}

.nav {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.contactBtn {
    background-color: white;
    color: var(--theme);
    border-radius: 20px;
    padding: 5px 24px;
}

.languageMenu {
    position: absolute;
    top: 100%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, 50px);
    width: 250px;
    border-radius: 5px;
    transition: 0.2s;
    opacity: 0;
    pointer-events: none;
    background-color: var(--theme);
    color: var(--about);

    >label {
        opacity: 0;
        transform: translateY(30px);
        transition: 0.3s, 0.3s, 0.1s;
        transition-property: transform, opacity, background-color;
        padding: 10px 20px;
        cursor: pointer;
        height: 50px;
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-color: rgba(0, 119, 255, 0.06);
        }

        &:not(:last-child) {
            border-bottom: 1px dashed rgba($color: #ffffff, $alpha: 0.1);
        }
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, 0);

        >label {
            opacity: 1;
            transform: translateY(0);
            transition: 0;
            transition-delay: 0;
        }
    }

    [type="radio"] {
        position: absolute;
        left: -9999px;
    }

    .customRadio {
        width: 18px;
        height: 18px;
        color: white;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            border: 1px solid white;
            border-radius: 100%;
        }

        &::after {
            content: '';
            width: 12px;
            position: absolute;
            height: 12px;
            background: var(--themeGreen);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }

    [type="radio"]:not(:checked)+.customRadio::after {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }

    [type="radio"]:checked {
        &+.customRadio::after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        &+.customRadio::before {
            opacity: 1;
            border-color: var(--themeGreen);
        }
    }
}

$delay: 0.05s;

@for $i from 0 through 25 {
    .languageMenu>label:nth-child(#{$i + 1}) {
        transition-delay: $delay * $i, $delay * $i, 0s;
    }
}

.menubar {
    overflow: visible;

    path {
        transition: 0.3s;
    }

    &.active {
        .line1 {
            transform-origin: center center;
            transform: rotate(45deg) translateX(5px) translateY(10px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform-origin: center center;
            transform: rotate(-45deg) translateX(2.5px) translateY(-8px);
        }
    }
}


.progress-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    z-index: 1001;
    pointer-events: none;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #b34726;
}

html:has([data-nav-state="open"]) {
    overflow: hidden !important;
    overscroll-behavior: none;

    body {
        /* Prevents the 'swipe' from reaching the background layer */
        touch-action: none;
        overflow: hidden !important;
    }
}

.sidenav {
    touch-action: auto !important;
    pointer-events: auto;
}

.sidenav__header {
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: fixed;
    top: 2em;
    left: 2em;
    right: 2em;
}

.sidenav__button {
    z-index: 10;
    grid-column-gap: .625em;
    grid-row-gap: .625em;
    background-color: #0000;
    justify-content: flex-end;
    align-items: center;
    margin: -1em;
    padding: 1em;
    display: flex;
    border: none;
}

.sidenav__button-text {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 1.5em;
    display: flex;
    overflow: hidden;
}

.sidenav__button-icon {
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    transition: transform .4s cubic-bezier(.65, .05, 0, 1);
    display: flex;
}

.sidenav__button-icon-svg {
    width: 100%;
}

.sidenav__button-label {
    color: #131313;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125em;
    line-height: 1.4;
}

.sidenav__nav {
    z-index: 9;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: fixed;
    inset: 0%;
}

.sidenav__overlay {
    z-index: 0;
    cursor: pointer;
    background-color: #13131366;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}

.sidenav__menu {
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
    max-width: 90%;
    height: 100%;
    margin-left: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidenav__menu-bg {
    z-index: 0;
    position: absolute;
    inset: 0%;
}

.sidenav__menu-bg-panel {
    z-index: 0;
    background-color: #ebdcc5;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    position: absolute;
    inset: 0%;
}

.sidenav__menu-bg-panel.is--first {
    background-color: #e04645;
}

.sidenav__menu-bg-panel.is--second {
    background-color: #131313;
}

.sidenav__menu-inner {
    z-index: 1;
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    display: flex;
    position: relative;
    overflow: auto;
}

.sidenav__menu-list {
    flex-flow: column;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.sidenav__menu-list-item {
    height: 4em;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
}

.sidenav__menu-link {
    grid-column-gap: .75em;
    grid-row-gap: .75em;
    color: #131313;
    width: 100%;
    padding-top: .75em;
    padding-bottom: .75em;
    padding-left: 2em;
    text-decoration: none;
    display: flex;
}

.sidenav__menu-link:hover {
    color: #a855f7;
}

.sidenav__menu-link-heading {
    z-index: 1;
    font-size: 2em;
    font-weight: 700;
    line-height: .75;
    transition: transform .55s cubic-bezier(.65, .05, 0, 1);
    position: relative;
    margin: 0px;
    letter-spacing: -0.015em;
}

.sidenav__menu-link-eyebrow {
    z-index: 1;
    color: #e04645;
    text-transform: uppercase;
    font-family: RM Mono, Arial, sans-serif;
    font-weight: 400;
    position: relative;
}

.sidenav__menu-details {
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    display: flex;
}

.sidenav__menu-socials {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    flex-flow: row;
    display: flex;
}


.noscript {
    pointer-events: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .sidenav__menu-socials {
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    .sidenav__menu-bg-panel {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .sidenav__menu {
        width: 100%;
    }

    .sidenav__menu-list-item {
        height: 4.5em;
    }

    .sidenav__menu-link-heading {
        font-size: 2em;
    }
}